--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.8.0+cu128
torchvision==0.23.0+cu128
torchmetrics==1.8.2
torchcodec==0.6.0
torchaudio==2.8.0+cu128
dill==0.4.1
multiprocess==0.70.19
diffusers
huggingface-hub
safetensors
omegaconf
einops
numpy==1.26.4
pandas==3.0.1
opencv-python
pillow
regex
requests
tqdm
ipykernel
matplotlib
argbind>=0.3.7
descript-audiotools>=0.7.2
soundfile
pesq