ipykernel
ipywidgets
pillow
torch == 2.8.0
packaging
requests
anyio
pydantic
aiohttp
websocket-client
beautifulsoup4
torchvision
transformers >= 4.56.2
diffusers
accelerate
einops
imageio
imageio-ffmpeg
opencv-python
pytest
sentencepiece
tqdm
av
omegaconf
ninja
numpy
bitsandbytes
peft